.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-top: 5%;
  }
  
  .form_area {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #264143;
    border-radius: 20px;
    min-width: 1100px;
    box-shadow: 3px 4px 0px 1px #e99f4c;
    height: 75vh;
    width: 75%;
  }

  .area_botones {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 40%;
  }

  .area_juego {
    display: contents;
    position: absolute;
  }

  button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
  
  .slide-out-top {
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-30vh);
      transform: translateY(-30vh);
      opacity: 0;
    }
  }


.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(30vh);
    transform: translateY(30vh);
    opacity: 0;
  }
}


.background{
    background: lightblue;
    position: relative;
    overflow: hidden;
  }
  
  .background::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, #3498db 10%, transparent 20%),
      radial-gradient(circle, transparent 10%, #3498db 20%);
    background-size: 30px 30px; /* Adjust the size of the pattern */
    animation: moveBackground 8s linear infinite; /* Adjust the animation duration and timing function */
  }
  
  @keyframes moveBackground {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(20%, 20%);
    }
  }
  


.card {
    position: absolute;
    align-content: center;
    left: 20%;
    top: 10%;
    width: 60%;
    height: 40%;
    border-radius: 30px;
    background: #e0e0e0;

  }
.img{
  border-radius: 30px;
  background: #e0e0e0;
  margin-top: 2%;
  width: 80%;
  height: 70%;
}

.container_opciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 30%;
}





/* From Uiverse.io by cssbuttons-io */ 
button.trivia {
    z-index: 100;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    min-width: 50%;
  }
  
  button.trivia.animar {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
/*========================================================================================================================= */
/*=================================================RANKING================================================================= */

  .ranking {
    overflow-y: auto;
    position: absolute;
    width: 40%;
    height: 65%;
    left: 29%;
    bottom: 21%;
    border-radius: 30px;
    background: #e0e0e08c;
    box-shadow: 15px 15px 30px #bebebe7d, -15px -15px 30px #ffffff81;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  thead{
    position: relative;
    gap: 50%;
  }
  td{
    text-align: left;
    /* padding: 50px; */
  }
  table{
    border-spacing: 50px 10px;
  }
  
  .atras{
    position: relative;
    right: 40%;
  }