.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin-top: 5%;
}

.form_area {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eddcd9;
  border: 2px solid #264143;
  border-radius: 20px;
  min-width: 1100px;
  box-shadow: 3px 4px 0px 1px #e99f4c;
  height: 75vh;
  width: 75%;
  background-image: url("/ahorcado/fondo_ahorcado.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/*========================================================================================================================= */
/*=============================================Botón transparente========================================================== */

.card {
  width: 75px;
  height: 75px;
  background-color: transparent;
  box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.158),
    10px 10px 20px rgba(0, 0, 0, 0.466),
    inset -1px -1px 0px 0px rgba(255, 255, 255, 0.345);
  border-radius: 51% 49% 62% 38% / 25% 57% 43% 75%;
  text-align: center;
  align-items: center;
  font-size: 50px;
  text-transform: capitalize;
  position: relative;
}

.card:hover {
  color: #e8e8e8;
}

.card:active {
  color: #000000;
}

/*========================================================================================================================= */
/*========================================================================================================================= */

.palabra{
  margin-top: -5%;
  font-size: 50px;
  font-weight: bold;
  font-family:monospace;
}

/*========================================================================================================================= */
/*================================================stickman================================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.stickman {
  z-index: 1;
  position: relative;
  margin-top: 5%;
  top: 1;
  left: 51%; 
  bottom: 45%;
  width: 60px;
  height: 200px;
}

.head {
  width: 50px;
  height: 50px;
  background-color: rgb(41, 43, 99);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}

.torso {
  width: 5px;
  height: 80px;
  background-color: rgb(41, 43, 99);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}

.left-arm {
  width: 5px;
  height: 60px;
  background-color: rgb(41, 43, 99);
  position: absolute;
  top: 60px;
  left: 45%;
  transform: rotate(45deg);
  transform-origin: top;
  visibility: hidden;
}

.right-arm {
  width: 5px;
  height: 60px;
  background-color: rgb(41, 43, 99);
  position: absolute;
  top: 60px;
  right: 45%;
  transform: rotate(-45deg);
  transform-origin: top;
  visibility: hidden;
}

.left-leg {
  width: 5px;
  height: 70px;
  background-color: rgb(41, 43, 99);
  position: absolute;
  top: 130px;
  left: 45%;
  transform: rotate(20deg);
  transform-origin: top;
  visibility: hidden;
}

.right-leg {
  width: 5px;
  height: 70px;
  background-color: rgb(41, 43, 99);
  position: absolute;
  top: 130px;
  right: 45%;
  transform: rotate(-20deg);
  transform-origin: top;
  visibility: hidden;
}
